version: 4.4.9 / 4.5 alpha (structured logging) / 5.0 beta (.NET core & netstandard)
highlighter: rouge
markdown: kramdown
kramdown:
  input: GFM
  auto_ids: true
  syntax_highlighter: rouge
gems:
  - jekyll-redirect-from
  
