<!DOCTYPE HTML>
<html>
<head>
	<meta charset"utf-8" />
	<title> {% if page.title %} {{ page.title }} | {% endif %} NLog</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/css/syntax.css" media="screen">
</head>
<body>
	<div id="header">
		<div>
			<a href="/"><img src="/images/NLog.png" title="NLog - Advanced .NET Logging" alt="NLog - Advanced .NET Logging"></a>
		</div>
	</div>
	<div id="sidebar">
		<nav role="navigation" id="menu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/download">Download</a></li>
				<li><a href="http://github.com/nlog/nlog/wiki">Wiki</a></li>
				<li><a href="/documentation">Documentation</a></li>
				<li><a href="https://groups.google.com/forum/#!forum/nlog-users">Forum</a></li>
				<li><a href="http://github.com/NLog/NLog/issues">Issue Tracker</a></li>
				<li><a href="/archives">News Archive</a></li>
			</ul>
		</nav>
		<div class="banner">
			<a href="/2009/11/01/gibraltar-adapter-for-nlog-released.html">
				<img src="/images/GibraltarNLog.png" alt="Gibraltar - Learn about the best analysis tool for NLog" style="width: 162px"/>
			</a>
		</div>
	</div>
	<div id="content">
		{{ content }}
	</div>
</body>
</html>