<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#da6821">
    <title> {% if page.title %} {{ page.title }} | {% endif %} NLog</title>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css?{{ site.time }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/syntax.css?{{ site.time }}" media="screen">
    <link href="{{ site.baseurl }}/feed/index.xml"
          rel="alternate" type="application/rss+xml" title="Latest NLog news" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
</head>
<body last-updated="{{ site.time }}">


    <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>


    {% if site.news.enabled %}
    <div class="alert text-center alert-info alert-dismissible" id="site-news">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
       {{site.news.text}}
       {% if site.news.readmore_link %}
       <a href="{{site.news.readmore_link}}">{{site.news.readmore_text}}</a>
       {% endif %}
      </div>
    {% endif %}
  

  

    <!-- Docs master nav -->
    <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logoLink navbar-brand" href="{{ site.baseurl }}/"><img alt="NLog - Advanced .NET Logging" title="NLog - Advanced .NET Logging" src="{{ site.baseurl }}/images/NLog-logo-only_small.png"></a>
            </div>
            <div class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li id="homeNavItem">
                        <a href="{{ site.baseurl }}/">Home</a>
                    </li>
                    <li id="gettingStartedNavItem">
                        <a href="{{ site.baseurl }}/download">Getting started</a>
                    </li>
                    <li id="newNavItem">
                        <a href="{{ site.baseurl }}/archives">News</a>
                    </li>


                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="https://github.com/nlog/nlog/wiki">Documentation</a></li>
                    <li><a href="{{ site.baseurl }}/config">Config options</a></li>

                    <li><a href="https://github.com/NLog/NLog/issues">Support</a></li>
                    <li><a href="https://github.com/NLog/NLog/blob/master/CHANGELOG.md">Changelog</a></li>

                </ul>
            </div>
        </div>
    </header>



    <div class="{% if page.header %}large-header{% endif %}" id="docs-header">
        <div class="container">

            {% if page.header %}
            <h1 class="content-title">
                {{ page.header }}
            </h1>
            {% else %}

            <img alt="NLog - Advanced .NET Logging" title="NLog - Advanced .NET Logging" src="{{ site.baseurl }}/images/NLog-logo-only-inverse.png">

            <h1 class="content-title">
                Flexible &amp; free open-source logging for .NET
            </h1>

            <p class="lead">
                <a href="{{ site.baseurl }}/download" class="btn btn-outline-inverse btn-lg">Download NLog</a>
            </p>
            <p class="version">Latest version: 
                               
                <a href="https://www.nuget.org/packages/NLog" target="_blank"> <a href="https://www.nuget.org/packages/NLog" target="_blank"><img alt="Nuget" src="https://img.shields.io/nuget/v/nlog?color=%23DA6821&amp;label=%20&amp;style=flat-square"></a></a>
            
            </p>

            <p class="social-buttons" style="position: relative;top: 20px;">
                <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=NLog&repo=NLog&type=star&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>

                <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=NLog&repo=NLog&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>


                <a class="twitter-hashtag-button" href="https://twitter.com/intent/tweet?button_hashtag=nlog">
                    Tweet #nlog
                </a>
                <a href="https://twitter.com/NLogOfficial" class="twitter-follow-button" data-show-count="false">Follow @NLogOfficial</a>
            </p>


            {% endif %}



        </div>
    </div>

    <main class="" role="main">
        <div class="container">
            <div class="row">

                <div class="col-md-9">
                    <div id="content">
                        {{ content }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        
                        
                        
                        <div id="twitter-box" style="margin-bottom: 20px;margin-top: 20px;">
                            <a class="twitter-timeline" data-height="800" data-dnt="true" href="https://twitter.com/NLogOfficial?ref_src=twsrc%5Etfw">Tweets by NLogOfficial</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>



                    </div>
                </div>


            </div>
        </div>
    </main>

    <div class="container">
        <div class="row">

        </div>
    </div>

  <!-- <footer class="footer">
        <div class="container">
            <a href="https://github.com/NLog/NLog" target="_blank">Github <span class="fa fa-github"></span></a>
        </div>
    </footer>--> 

    <script>

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-41761907-1', 'nlog-project.org');
        ga('send', 'pageview');

    </script>

</body>
</html>
