---
layout: default
comments: true
header: News
---

<article>
    <h1 class="post-title page-header">{{ page.title }}</h1>
    <small class="pull-right news-date" style="padding-left: 25px">
        {% if page.date %}
        {{ page.date | date_to_string  }}
        {% endif %}
    </small>
    {{ content }}
</article>
<div class="news-back-bar">
    <a href="{{ site.baseurl }}/archives">Return to news</a>
</div>

{% if page.comments %}
<hr>
<div>
    Questions, feature requests or bug reports? Please post them on the <a href="https://github.com/NLog/NLog/issues">GitHub issue list</a>
</div> 
{% endif %}
